<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.alert.Schedule-Azure Autodeployment Alert</string>
    <com.liquidlabs.log.alert.Schedule>
      <name>Azure Autodeployment Alert</name>
      <reportName>Mircosoft HPC Azure Node AutoDeploying Alert</reportName>
      <cron>*/5 * * * *</cron>
      <interval>10</interval>
      <copyAction></copyAction>
      <scriptAction></scriptAction>
      <lastRun>15-Feb-16 16:15:00</lastRun>
      <lastRunMs>0</lastRunMs>
      <lastEvents></lastEvents>
      <lastTrigger>16-Sep-15 17:40:08</lastTrigger>
      <trigger>1</trigger>
      <userId>sysadmin</userId>
      <emailFrom>HPCAlerting@Logscape.com</emailFrom>
      <emailTo></emailTo>
      <emailSubject>Azure Nodes - Deployed</emailSubject>
      <emailMessage>Azure Nodes have been automatically deployed. 
      [EVENTS]</emailMessage>
      <isLiveAlert>false</isLiveAlert>
      <isEmailingReport>false</isEmailingReport>
      <isGeneratingReport>false</isGeneratingReport>
      <generateReportName></generateReportName>
      <firedOnceToPreventSpam>false</firedOnceToPreventSpam>
      <subcriber></subcriber>
      <deptScope>sysadmin</deptScope>
      <variables></variables>
      <enabled>true</enabled>
      <liveFeedScript>{&quot;webSocketPort&quot;:&quot;&quot;,&quot;bespokeScript&quot;:&quot;&quot;}</liveFeedScript>
    </com.liquidlabs.log.alert.Schedule>
  </entry>
  <entry>
    <string>com.liquidlabs.log.alert.Schedule-Azure Offline Alert</string>
    <com.liquidlabs.log.alert.Schedule>
      <name>Azure Offline Alert</name>
      <reportName>Mircosoft HPC Azure Node Offline Alert</reportName>
      <cron>*/5 * * * *</cron>
      <interval>10</interval>
      <copyAction></copyAction>
      <scriptAction></scriptAction>
      <lastRun>15-Feb-16 16:15:00</lastRun>
      <lastRunMs>0</lastRunMs>
      <lastEvents></lastEvents>
      <lastTrigger>29-Jun-15 12:50:08</lastTrigger>
      <trigger>1</trigger>
      <userId>sysadmin</userId>
      <emailFrom>hpcalerts@logscape.com</emailFrom>
      <emailTo></emailTo>
      <emailSubject>Azure Nodes - Offline</emailSubject>
      <emailMessage>Some Azure Nodes have been automatically taken offline. 
      [EVENTS]</emailMessage>
      <isLiveAlert>false</isLiveAlert>
      <isEmailingReport>false</isEmailingReport>
      <isGeneratingReport>false</isGeneratingReport>
      <generateReportName></generateReportName>
      <firedOnceToPreventSpam>false</firedOnceToPreventSpam>
      <subcriber></subcriber>
      <deptScope>sysadmin</deptScope>
      <variables></variables>
      <enabled>true</enabled>
      <liveFeedScript>{&quot;webSocketPort&quot;:&quot;&quot;,&quot;bespokeScript&quot;:&quot;&quot;}</liveFeedScript>
    </com.liquidlabs.log.alert.Schedule>
  </entry>
  <entry>
    <string>com.liquidlabs.log.alert.ScheduleExecution-Azure Autodeployment Alert</string>
    <com.liquidlabs.log.alert.ScheduleExecution>
      <name>Azure Autodeployment Alert</name>
      <lastRunMs>1455549600005</lastRunMs>
      <lastTriggerMs>1442418008815</lastTriggerMs>
    </com.liquidlabs.log.alert.ScheduleExecution>
  </entry>
  <entry>
    <string>com.liquidlabs.log.alert.ScheduleExecution-Azure Offline Alert</string>
    <com.liquidlabs.log.alert.ScheduleExecution>
      <name>Azure Offline Alert</name>
      <lastRunMs>1455549600005</lastRunMs>
      <lastTriggerMs>1435575008307</lastTriggerMs>
    </com.liquidlabs.log.alert.ScheduleExecution>
  </entry>
  <entry>
    <string>com.liquidlabs.log.alert.Schedule-Microsoft HPC App - Service Termination</string>
    <com.liquidlabs.log.alert.Schedule>
      <name>Microsoft HPC App - Service Termination</name>
      <reportName>Microsoft HPC - Service Termination Alert</reportName>
      <cron>*/5 * * * * </cron>
      <interval>10</interval>
      <copyAction></copyAction>
      <scriptAction></scriptAction>
      <lastRun></lastRun>
      <lastRunMs>0</lastRunMs>
      <lastEvents></lastEvents>
      <lastTrigger></lastTrigger>
      <trigger>1</trigger>
      <userId>sysadmin</userId>
      <emailFrom>hpcalerts@logscape.com</emailFrom>
      <emailTo></emailTo>
      <emailSubject>HPC Service Termination</emailSubject>
      <emailMessage>HPC Service has terminated. Please address:
      [EVENTS]</emailMessage>
      <isLiveAlert>false</isLiveAlert>
      <isEmailingReport>false</isEmailingReport>
      <isGeneratingReport>false</isGeneratingReport>
      <generateReportName></generateReportName>
      <firedOnceToPreventSpam>false</firedOnceToPreventSpam>
      <subcriber></subcriber>
      <deptScope>sysadmin</deptScope>
      <variables></variables>
      <enabled>true</enabled>
      <liveFeedScript>{&quot;webSocketPort&quot;:&quot;&quot;,&quot;bespokeScript&quot;:&quot;&quot;}</liveFeedScript>
    </com.liquidlabs.log.alert.Schedule>
  </entry>
  <entry>
    <string>com.liquidlabs.log.alert.ScheduleExecution-Grid.HPC Check for Service Termination</string>
    <com.liquidlabs.log.alert.ScheduleExecution>
      <name>Grid.HPC Check for Service Termination</name>
      <lastRunMs>1435221000005</lastRunMs>
      <lastTriggerMs>1434387377266</lastTriggerMs>
    </com.liquidlabs.log.alert.ScheduleExecution>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
