<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-MicrosoftHPCApp,Errors_ryDN2j9gQ49Gev97xzymcg==_25-.err</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>MicrosoftHPCApp,Errors_ryDN2j9gQ49Gev97xzymcg==_25-.err</wdId>
      <tags>MicrosoftHPCApp,Errors</tags>
      <dirName>./work/MicrosoftHPCApp*/*</dirName>
      <hosts></hosts>
      <filePattern>*.err</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>yyyy-MM-dd HH:mm:ss</timeFormat>
      <flush>false</flush>
      <maxAgeDays>465</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,14,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-MicrosoftHPCApp,Monitoring_Qw8FXf8A5ZzS4ghUgvFARA==_28Node.out-,Overview.out-,Call-.out-,SchedulerEvents.out-,ClusterProperty.out-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>MicrosoftHPCApp,Monitoring_Qw8FXf8A5ZzS4ghUgvFARA==_28Node.out-,Overview.out-,Call-.out-,SchedulerEvents.out-,ClusterProperty.out-</wdId>
      <tags>MicrosoftHPCApp,Monitoring</tags>
      <dirName>./work/MicrosoftHPCApp-2.*/*</dirName>
      <hosts></hosts>
      <filePattern>Node.out*,Overview.out*,Call*.out*,SchedulerEvents.out*,ClusterProperty.out*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>yyyy-MM-dd HH:mm:ss</timeFormat>
      <flush>false</flush>
      <maxAgeDays>465</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,40,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-MicrosoftHPCApp,ParsedLogs_Fe6DRahWiuMWadqBQPHKKA==_22-.log-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>MicrosoftHPCApp,ParsedLogs_Fe6DRahWiuMWadqBQPHKKA==_22-.log-</wdId>
      <tags>MicrosoftHPCApp,ParsedLogs</tags>
      <dirName>./work/HPCExtractedLogs/**</dirName>
      <hosts></hosts>
      <filePattern>*.log*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>MM/dd/yyyy HH:mm:ss.SSS</timeFormat>
      <flush>false</flush>
      <maxAgeDays>365</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>MM/dd/yyyy HH:mm:ss.SSS</timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>false</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,14,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-MicrosoftHPCApp,Reporting,JobHistory_jVUlO0S_pj+ipJ0UJqJ90A==_29Jobs-.out-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>MicrosoftHPCApp,Reporting,JobHistory_jVUlO0S_pj+ipJ0UJqJ90A==_29Jobs-.out-</wdId>
      <tags>MicrosoftHPCApp,Reporting,JobHistory</tags>
      <dirName>./work/MicrosoftHPCApp-2.*/**</dirName>
      <hosts></hosts>
      <filePattern>Jobs*.out*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>char:|8 dd/MM/yyyy hh:mm:ss</timeFormat>
      <flush>false</flush>
      <maxAgeDays>90</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>char:|8 dd/MM/yyyy hh:mm:ss </timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,14,Gzip_Compress</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-MicrosoftHPCApp,Reporting_Qw8FXf8A5ZzS4ghUgvFARA==_28Utilisation-.out-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>MicrosoftHPCApp,Reporting_Qw8FXf8A5ZzS4ghUgvFARA==_28Utilisation-.out-</wdId>
      <tags>MicrosoftHPCApp,Reporting</tags>
      <dirName>./work/MicrosoftHPCApp-2.*/*</dirName>
      <hosts></hosts>
      <filePattern>Utilisation*.out*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>dd/MM/yyyy hh:mm:ss</timeFormat>
      <flush>false</flush>
      <maxAgeDays>465</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,14,Gzip_Compress</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
