<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC - Service Termination Alert</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC - Service Termination Alert</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>HPC AND hung OR HPC AND terminat | _type.include(win-evt) </string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average CPU Utilisation Percentage</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average CPU Utilisation Percentage</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) CPUUtilisationPct.avg(Node+_host,NodeCluster) chart(line-connect) 100Pct.max()</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average Core Memory Paging</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average Core Memory Paging</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node)  HPCMemoryPaging.avg(Node+_host,NodeCluster) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average Core Utilisation Percentage</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average Core Utilisation Percentage</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) CoreUtilisationPct.avg(Node+_host,NodeCluster)  100Pct.max() chart(line-zero)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average Disk Throughput</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average Disk Throughput</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCDiskThroughput.avg(Node+_host,NodeCluster) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average MSMQ Request Queue Length</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average MSMQ Request Queue Length</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node)  HPCMSMQRequestQueueLength.avg(_host+Node)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average MSMQ Response Queue Length</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average MSMQ Response Queue Length</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node)  HPCMSMQResponseQueueLength.avg(_host+Node)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average MSMQ Total Bytes</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average MSMQ Total Bytes</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node)  HPCMSMQTotalBytes.avg(_host+Node)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average MSMQ Total Messages</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average MSMQ Total Messages</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node)  HPCMSMQTotalMessages.avg(_host+Node)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average System Calls</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average System Calls</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCSystemCalls.avg(Node+_host,NodeCluster) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average Tasks Running</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average Tasks Running</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCTasksRunning.avg(_host+Node) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average Use by Cluster and Service</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average Use by Cluster and Service</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_JobHistory) TotalTaskMinutes.avg(_host+Service,Mins)  TotalTaskSeconds.avg(_host+Service,Secs) NumberOfCalls.avg(_host+Service,Calls)  chart(table) buckets(1)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average WCF Broker Calls</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average WCF Broker Calls</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCWcfBrokerCalls.avg(_host+Node) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average WCF Failed Broker Calls</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average WCF Failed Broker Calls</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCWcfFailedBrokerCalls.avg(_host+Node) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Average WCF Incoming Calls</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Average WCF Incoming Calls</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Node) HPCWcfIncomingCalls.avg(_host+Node) chart(line-connect)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Core Activity by Cluster</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Core Activity by Cluster</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* |  _type.equals(hpc_Overview) BusyCoreCount.max(_host,Busy) IdleCoreCount.max(_host,Idle) OfflineCoreCount.max(_host,Offline) chart(c3.area.stacked)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Current Job Overview</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Current Job Overview</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_CallIndividuals) Progress.last(JobID,Progress) ElapsedMinutes.last(JobID,ElapsedMins) ChangeMins.last(JobID,ChangedMins) _host.last(JobID,Cluster) Service.last(JobID,Service) JobTemplate.last(JobID,Template) Project.last(JobID,Project) Pool.last(JobID,Pool) chart(table) buckets(1) sort(3,desc)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Node Overview</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Node Overview</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* |  _type.include(hpc_Node)  Template.last(Node,Template)  DiskUtilPct.last(Node,DiskUtil) CoreUtilisationPct.last(Node,Utilisation) NodeState.last(Node,State) NodeHealth.last(Node,Health) ServiceHealth.last(Node,Service) HealthState.last(Node,HealthState) chart(table) buckets(1) sort(4,desc)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
    <entry>
    <string>com.liquidlabs.log.space.Search-Mircosoft HPC Azure Node AutoDeploying Alert</string>
    <com.liquidlabs.log.space.Search>
      <name>Mircosoft HPC Azure Node AutoDeploying Alert</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Balancer) Action.count() Action.equals(DEPLOYING)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Mircosoft HPC Azure Node Offline Alert</string>
    <com.liquidlabs.log.space.Search>
      <name>Mircosoft HPC Azure Node Offline Alert</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>AzureNodes | _type.equals(hpc_Balancer) Action.count() Action.equals(OFFLINE)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC - Calls by Service</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC - Calls by Service</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_JobHistory) Calls.sum(Service,) chart(table) buckets(1)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC 30000+ Pending Calls</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC 30000+ Pending Calls</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_CallTotals) OutstandingCalls.max() OutstandingCalls.gt(30000) chart(scatter) bucketWidth(30s)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Change in Delta for ReadyNodeCount</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Change in Delta for ReadyNodeCount</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_Overview) ReadyNodeCount.countDelta() chart(cluster)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-Microsoft HPC Job Running Over 2 Hours</string>
    <com.liquidlabs.log.space.Search>
      <name>Microsoft HPC Job Running Over 2 Hours</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(hpc_CallIndividuals) ElapsedMinutes.gt(120) TimeStamp ChangeMinutes.max(JobID)  chart(table) buckets(1)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->